* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.Footer-Container {
  display: flex;
  width: 100%;
  padding: 10%;
  height: 250px;
  margin-bottom: 50px;
}
.Footer-Title {
  width: 50%;
  text-align: start;
  display: flex;
  flex-direction: column;
}
.Footer-Title h3 {
  font-family: "Anton", sans-serif;
  text-transform: uppercase;
  color: white;
  font-size: 36px;
  cursor: pointer;
}
.Footer-Title p {
  color: rgba(255, 255, 255, 0.49);
  font-size: 12px;
  text-transform: uppercase;
  width: 60%;
}
.Footer-Location {
  text-align: start;
  width: 25%;
}
.Footer-Location h5 {
  color: #c3fc2f;
  text-transform: uppercase;
  font-family: "JetBrains Mono", monospace;
  font-size: 11px;
}
.Footer-Location span,
.Footer-Location p {
  color: rgba(255, 255, 255, 0.49);
  font-size: 12px;
  text-transform: uppercase;
  width: 50%;
}
.Footer-Navigation {
  text-align: start;
  width: 25%;
  display: flex;
  flex-direction: column;
  margin-left: 150px;
}
.Footer-Navigation h5 {
  color: #c3fc2f;
  text-transform: uppercase;
  font-family: "JetBrains Mono", monospace;
  font-size: 11px;
}
@media screen and (max-width: 768px) {
  .Footer-Container {
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 5%;
    height: 300px;
    margin-bottom: 0px;
  }
  .Footer-Title {
    width: 100%;
  }
  .Footer-Title h3 {
    font-size: 28px;
  }
  .Footer-Title p {
    width: 100%;
  }
  .Footer-Location {
    width: 49%;
  }
  .Footer-Location h5 {
    font-size: 13px;
  }
  .Footer-Location span,
  .Footer-Location p {
    font-size: 12px;
    width: 100%;
  }
  .Footer-Navigation {
    width: 30%;
    margin-left: 0px;
  }
  .Footer-Navigation h5 {
    font-size: 11px;
  }
}
